/* GLOBAL DEFAULTS */
*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color:#000000;
}

/* This is for the overall body of the application */
.App {
    width:99vw;
    height:98vh;
    display:flex;
    background-color: #ffffff;
}
.Sidebar{
    flex: 0 0 20vw;
    background-color:#3b9ddc;
    overflow:auto;
    color: #d4eff7;
    padding:2vw;
}
.ViewPane{
    flex: 1;
    margin-left:.5vw;
    background-color:#266791;
    overflow:auto;
}

/* VIEWPANE */
/* This is for topics to be formatted in the viewpane */
.Topic{
    text-align:center;
    width: 18vw;
    height: 20vh;
    margin:5vh;
    float:left;
    border: none; 
    background-color: #d4eff7;
    text-decoration-color: none;
}
.ViewPane-Topic-Button{
    border: none;
    background-color: #d4eff7;
    width: 18vw;
    height: 20vh;
    margin:5vh;
    float:left;
    text-align:center;
    text-decoration: none;
}
.FullTopic{
    /* width: 40vw; */
    /* height: 40vh; */
    margin: 5vw;
    padding: 2vw;
    border: none;
    background-color: #d4eff7;
    text-decoration-color: none;
}
.TopicExitButton{
    border-radius: 50%;
    width: 2.5vh;
    height: 2.5vh;
    background-color: #f2e701;
    position: relative;
}
.UpperContainer{
    display: flex;
    justify-content: space-between;
}
.TopicUserProfile{
    height:7vh;
}
.TopicUserImage{
    height: 7vh;
    width: 7vh;
    border-radius: 50%;
    background-color: #266791;
    float:left;
}
.TopicUserInfo{
    height: 3vh;
    color: #266791;
    padding-top:2vh;
    font-size:3vh;
}
.TopicTitle{
    height: 5vh;
    color: #266791;
    font-size: 3vh;
    text-align: center;
}
.TopicDescription{
    height: 5vh;
    color: #000000;
    font-size: 2vh;
    padding-bottom: 5vh;
    text-align: center;
}
.CommentArea{
    border: none;
    background-color: white;
    resize: none;
    width: 80%;
    margin-right: 3vw;
}
.SubmitButton{
    border-radius: 10%;
    color: #d4eff7;
    font-size: 3vh;
    background-color: #266791;
    vertical-align: 75%;
}

/* Pin Colors */
/*
Red: #dc3c41
Blue: #41aef5
Green: #78b929
Yellow: #f2e701
Pink: #e94594
Purple: #8e7cc3
*/

/* SIDEBAR */
/* This is for Sidebar components formatting */
.SidebarUserImage{
    height: 7vh;
    width: 7vh;
    border-radius: 50%;
    background-color: #d4eff7;
    float:left;
}
.SidebarUserInfo{
    height: 5vh;
    color: #d4eff7;
    text-align:center;
    padding-top:2vh;
    font-size:3vh;
}

.SidebarUserSignUp {
    background-color: #d4eff7;
	margin: 5vh;
	
}
.SidebarLoginErrorMsg {
  color: red;
  font-size: 12px; }
  
.SidebarUserProfile{
    height:13vh;
}
.TopicSearch{
    width:100%;
    height:5vh;
    background-color: #d4eff7;
    color: black;
    border:none;
}
.Menu{
    margin-top: 3vh;
    width:100%;
    height:60vh;
    background-color: #d4eff7;
}

.ActiveTab{
    border: none;
    background-color: #d4eff7;
    width: 50%;
    height: 5vh;
    float:left;
    text-align:center;
    text-decoration: none;
}
.Tabs{
    height:5vh;
}
.InactiveTab{
    border: none;
    color:white;
    background-color: #266791;
    width: 50%;
    height: 5vh;
    float:left;
    text-align:center;
    text-decoration: none;
}
.ActiveContent{
    text-align:center;
    height:55vh;
    overflow:auto;
}
.TopicCard{
    background-color:white;
    height: 8vh;
    margin: 2vw;
}
.SubsCard{
    background-color:white;
    height: 8vh;
    margin: 2vw;
}
.SettingsButton{
    color: #d4eff7;
    text-align:center;
    background-color: #3b9ddc;
    text-decoration: none;
    border: none;
    font-size:4vh;
    position: relative;
    left:20%;
    top:4vh;
}

.Menu{    
    background-color:#d4eff7;
}

.Settings{
    color: #3b9ddc;
    font-size: 2vh;
    background-color:#d4eff7;
    padding: 1vh;
    border: none;
    margin-top: 4vh;
}
/* menu things */
/* settings things */
.SettingsOption{
    color: #3b9ddc;
    text-align:center;
    background-color: transparent;
    text-decoration: none;
    border: none;
    font-size: 3vh;
}

/*  Simple pin for testing. This should be removed 
    once we have all the pin information defined */
.SelectedPin{
    border-radius: 50%;
    width: 4vh;
    height: 4vh;
    background-color: #dc3c41;
}

.DeselectedPin{
    border-radius: 50%;
    width: 4vh;
    height: 4vh;
    background-color: #78b929;
}